<div [@routerTransition]>
    <app-page-header [heading]="'Pais'" [icon]="'fa-table'"></app-page-header>

    <div class="row">
        <div class="col-sm-12">
            <!-- Large modal -->
            <div class="card-block">
                <button class="btn btn-primary" (click)="nuevo(content)">Nuevo</button>
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">{{titulo_modal}}</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <form #frmPais="ngForm" novalidate>
                        <div class="modal-body">
                            <label class="control-label">
                                <i class="fa fa-user" aria-hidden="true"></i>Nombre:</label>
                            <input type="text" class="form-control" required name="name" [(ngModel)]="country.name" #nombreState="ngModel" />
                            <div [hidden]="nombreState.valid || nombreState.pristine" class="alert alert-danger">
                                Nombre requerido
                            </div>

                        </div>
                        <div class="modal-footer">
                            <input type="button" value="Cancelar" class="btn btn-danger" (click)="close()" />
                            <input type="button" value="Guardar" class="btn btn-success" (click)="guardar(country)" [disabled]="!frmPais.form.valid"
                            />
                        </div>
                    </form>
                </ng-template>
            </div>
        </div>
    </div>


    <div class="panel">
        <div class="card mb-3">
            <div class="card-header">
                <h4>
                    {{titulo1}}
                </h4>
            </div>
            <div class="card-block table-responsive">
                <table class="table" [mfData]="todopaises | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="5" [(mfSortBy)]="sortBy"
                    [(mfSortOrder)]="sort">
                    <thead>
                        <tr>
                            <th style="width: 20%">
                                <mfDefaultSorter by="id">ID</mfDefaultSorter>
                            </th>
                            <th style="width: 20%">
                                <mfDefaultSorter by="name">Nombre</mfDefaultSorter>
                            </th>
                            <th style="width: 20%">
                                <mfDefaultSorter by="name">Editar</mfDefaultSorter>
                            </th>
                            <th style="width: 20%">
                                <mfDefaultSorter by="name">Eliminar</mfDefaultSorter>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="5">
                                Filtrar por nombre:
                                <input class="form-control" [(ngModel)]="filterQuery" />
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mf.data">
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td><button type="button" class="btn btn-primary fa fa-edit" (click)="editar(item, content)"></button></td>
                            <td><button type="button" class="btn btn-danger fa fa-trash" (click)="setPaisEliminar(item, content1)"></button></td>

                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>


    <!--modal para eliminar registro    !-->
    <div class="row">
        <div class="col-sm-12">
            <!-- Large modal -->
            <div class="card-block">
                <ng-template #content1 let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">{{titulo_modal}}</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form #frmPais="ngForm" novalidate>
                        <div class="modal-body">
                            <p class="text-danger">
                                ¿Desea Eliminar al Pais:<br>
                                << Id: {{id}}>><br>
                                    << Nombre: {{nombrepais}}>>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <input type="button" value="NO" class="btn btn-info" (click)="close()" />
                            <input type="button" value="SI" class="btn btn-warning" (click)="eliminar(id)" />
                        </div>
                    </form>
                </ng-template>
            </div>
        </div>
    </div>



</div>